/* 版面除錯用 */
* {
	// outline: 2px dotted green;
}

/* img {
  max-width: 100%;
  height: auto;
} */

a {
  color: inherit;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.1em;
}

p {
  letter-spacing: 0.05em;
}

 ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
} 