// -- 設計稿顏色系統 --
$success:     #2CC585 !default;
$info:        #4A72FF !default;
$warning:     #FFB054 !default;
$danger:      #D65F5F !default;

// primary
$primary-100: #FFFDF5 !default; 
$primary-200: #FFFBE5 !default;
$primary-300: #E8E3DA !default;
$primary-400: #6E6B67 !default;

// accent
$accent-100: #E0EFDE !default;
$accent-200: #569573 !default;
$accent-300: #406C55 !default;

// neutral
$gray-100  : #F8F9FA !default;
$gray-200  : #DEE2E6 !default;
$gray-300  : #ADB5BD !default;
$gray-400  : #6C757D !default;
$gray-500  : #343A40 !default;
$gray-600  : #212529 !default;

// ## 全域樣式 
// - 整體網頁背景色
$body-bg:                   $primary-100;   
// - 整體文字顏色
$body-color:                $gray-500;     

// - 清除文字標籤下方空間
$headings-margin-bottom:      0;  // 清除 <h1>~<h6> 標籤文字標籤下方空間
$paragraph-margin-bottom:     0;    // 清除 <p> 文字標籤下方空間

// - a 標籤文字下方線條
$link-decoration:                         none;  // a 標籤文字下方線條

// - 文字
// 基本字體
$font-family-sans-serif:    "Noto Serif TC", Rotobo, Arial, sans-serif; 
$font-family-base:          $font-family-sans-serif;

// 內文字重
$font-weight-base:            600;

// scss-docs-start font-variables4

$font-size-base:              1rem; // Assumes the browser default, typically `16px`

$h1-font-size:                $font-size-base * 2.5;   // 40px
$h2-font-size:                $font-size-base * 2 ;    // 32px
$h3-font-size:                $font-size-base * 1.75;  // 28px
$h4-font-size:                $font-size-base * 1.5;   // 24px
$h5-font-size:                $font-size-base * 1.25 ; // 20px
$h6-font-size:                $font-size-base;         // 16px
$h7-font-size:                $font-size-base * 0.75;  // 12px
// scss-docs-end font-variables

// 內文行高
$line-height-base:            1.5;

// 標題字重
$headings-font-weight:        900;

// 標題行高
$headings-line-height:        1.2;

// ## 修改元件樣式
// ### Button
// - 字重
$btn-font-weight:             700;

// - 文字顏色
$btn-color:                   $accent-200;

// - 間距
$btn-padding-y:                .875rem;
$btn-padding-x:               1.375rem;
$btn-font-size:               1rem;

$btn-padding-y-sm:              .75rem;
$btn-padding-x-sm:            1.375rem;
$btn-font-size-sm:                1rem;

$btn-padding-y-lg:                1rem;
$btn-padding-x-lg:              1.5rem;
$btn-font-size-lg:             1.25rem;

// - 圓角
$btn-border-radius:              50rem;

// - disabled
$btn-disabled-opacity:               1; 


// 表單 Input
// padding
$input-btn-padding-y:         .75rem;
$input-btn-padding-x:         1rem;


// 字重：
$input-font-weight:           600;

// 提示字顏色
$input-placeholder-color:     $gray-300; 

// 背景色
$input-bg:                    $gray-100;

// 圓角
$input-border-radius:         0.5rem;




// ### Breadcrumbs
$breadcrumb-font-size:        1rem;
$breadcrumb-active-color:     $accent-200;
$breadcrumb-margin-bottom:    1.25rem;
// scss-docs-start form-check-variables
$form-check-input-checked-color:          #FFFFFF;
$form-check-input-checked-bg-color:       $accent-300;
// scss-docs-end form-check-variables
