/* Lato: CSS classes */
.text-lato {
    font-family: "Lato", sans-serif; 
}

/* Newsreader: CSS class for a variable style */
.text-newsreader {
    font-family: "Newsreader", serif;
}

/* Noto Sans: CSS class for a variable style */
.text-noto-sans {
    font-family: 'Noto Sans', sans-serif;
}

/* Noto Sans TC: CSS class for a variable style */
.text-noto-sans-tc {
    font-family: 'Noto Sans TC', sans-serif;
}

/* Noto Serif: CSS class for a variable style */
.text-noto-serif {
    font-family: "Noto Serif TC", serif;
}

/* Roboto Mono: CSS class for a variable style */ 
.text-roboto-mono {
    font-family: "Roboto Mono", monospace;
}