.btn {
    border: 0 !important;
    padding: 12px 20px !important;

    border-radius: 100px !important;    
    opacity: 1 !important;
    letter-spacing: 10% !important;
    font-weight: 700 !important;
    display: flex !important; 
}

// min-width: 576px
@include media-breakpoint-up(sm) {
    .btn-sm {
        font-size: 16px !important;
        font-weight: 700 !important;
        padding: 12px 20px !important;
    }
}

// min-width: 992px
@include media-breakpoint-up(lg) {
    .btn-lg {
        font-size: 20px !important;
        font-weight: 900 !important;
        padding: 16px 24px !important;
    }
}

/* custom green style */
.btn-custom-green {
    background-color: $accent-200 !important; 
    color: $white !important;   
    
    display: inline-flex !important;
    align-items: center !important; 
    justify-content: center !important; 
    gap: 8px !important;
}

.btn-custom-green:hover {
    background-color: $accent-300 !important;
    color: $white !important;  
}

.btn-custom-green:active {
    background-color: $accent-300 !important;
    color: $white !important;  
}

.btn-custom-green:disabled {
    background-color: $gray-200 !important;
    color: $white !important;  
}


/* custom green style */
.btn-custom-gray {
    background-color: $gray-100 !important; 
    color: $gray-400 !important;   
    
    display: inline-flex !important;
    align-items: center !important; 
    justify-content: center !important; 
    gap: 8px !important;
}


.btn-custom-gray:hover {
    background-color: $gray-200 !important;
    color: $gray-500 !important;
}

.btn-custom-gray:active {
    background-color: $gray-200 !important;
    color: $gray-500 !important;
}

.btn-custom-gray:disabled {
    background-color: $gray-100 !important;
    color: $gray-300 !important;
}