
// .swiper-slide {
//   text-align: center;
//   font-size: 18px;
//   background: #fff;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .swiper-slide img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

/*******************/


// .swiper-button-next,
// .swiper-button-prev {
//   --swiper-navigation-size: 16px;
//   --swiper-navigation-color: #B7B7B7;
//   --swiper-navigation-sides-offset: -1%;
//   background-color: #fff;
//   border: 1px solid $gray-400;
//   border-radius: 50%;
//   width: 48px;
//   height: 48px;

//   @include media-breakpoint-down(md) {
//     display: none;
//   }

//   &::after{
//     content: ""; /* 清除預設箭頭內容 */
//   }
// }

//  .swiper-pagination{
//   position: relative;
//   margin-top: 16px;
// }

// .swiper-pagination-bullet{
//   box-shadow: 0 1px 3px $gray-600;

//   &-active{
//     background-color: $primary;
//   }
// } 

//  .swiper-slide img {
//   display: block;
//   object-fit: cover;
// } 

//  .swiper-slide {
//   text-align: center;
//   font-size: 18px;
//   background: transparent;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// } 

//  .swiper-button-prev-swOne{
//   display: block;
//   width: 50px;
//   height: 50px;
//   background: #000;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: 100;
// } 

//  .swiper-button-next-swTwo{
//   display: block;
//   width: 50px;
//   height: 50px;
//   background: #000;
//   position: absolute;
//   top: 0;
//   right: 0;
//   z-index: 100;
// } 


.hot-articles {
    .swiper a {
        font-size: 20px;
        line-height: 2;
        color: #569573;
        text-decoration: none;
        font-weight: 700;
    }

    .swiper-slide {
        border-bottom: 1px solid #6c757d;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 192px;
        object-fit: cover;
    }

    .swiper-pagination {
        width: 232px;
        position: relative;
    }

    .swiper-pagination::after {
        content: "";
        width: 80px;
        height: 1px;
        background-color: #6c757d;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

    .swiper-prev:hover {
        background-color: #6c757d;
    }

    .swiper-button-disabled {
        color: #dee2e6;
        border-color: #dee2e6 !important;
    }

    .swiper-button-disabled:hover {
        cursor: default;
        background-color: initial !important;
    }

    .swiper-next:hover {
        background-color: #6c757d;
        color: #DEE2E6;
    }

    .swiper-pagination-fraction{
        width: auto !important;
    }

    .only-staff {
        background: #e8e3da;
    }
    
}

.life {

    /* .swiper a {
        font-size: 20px;
        line-height: 2;
        color: #569573;
        text-decoration: none;
        font-weight: 700;
        } */
    
        /* .swiper-slide {
        border-bottom: 1px solid #6c757d;
        } */
        
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 192px;
        object-fit: cover;
    }
    .swiper-pagination {
        width: 232px;
        position: relative;
    }
    .swiper-pagination::after {
        content: "";
        width: 80px;
        height: 1px;
        background-color: #6c757d;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

    .swiper-prev.furtherReadingSwiper {
        background-color: #6c757d;
    }

    .swiper-button-disabled {
        color: #dee2e6;
        border-color: #dee2e6 !important;
    }

    .swiper-button-disabled:hover {
        cursor: default;
        background-color: initial !important;
    }

    .swiper-next:hover {
        background-color: #6c757d;
        color: #DEE2E6;
    }

    .swiper-pagination-fraction{
        width: auto !important;
    }

    .only-staff {
        background: #e8e3da;
    }
}

.project {

    /* .swiper a {
        font-size: 20px;
        line-height: 2;
        color: #569573;
        text-decoration: none;
        font-weight: 700;
        } */
    
        /* .swiper-slide {
        border-bottom: 1px solid #6c757d;
        } */
        
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 192px;
        object-fit: cover;
    }
    .swiper-pagination {
        width: 232px;
        position: relative;
    }
    .swiper-pagination::after {
        content: "";
        width: 80px;
        height: 1px;
        background-color: #6c757d;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

    .swiper-prev.furtherReadingSwiper {
        background-color: #6c757d;
    }

    .swiper-button-disabled {
        color: #dee2e6;
        border-color: #dee2e6 !important;
    }

    .swiper-button-disabled:hover {
        cursor: default;
        background-color: initial !important;
    }

    .swiper-next:hover {
        background-color: #6c757d;
        color: #DEE2E6;
    }

    .swiper-pagination-fraction{
        width: auto !important;
    }

    .only-staff {
        background: #e8e3da;
    }
}



.furtherReadingSwiper {

    /* .swiper a {
        font-size: 20px;
        line-height: 2;
        color: #569573;
        text-decoration: none;
        font-weight: 700;
    } */

    .swiper-slide {
        border-bottom: 1px solid #6c757d;
    }

     .swiper-slide img {
        display: block;
        // width: 100%;
        // height: 200px;
        object-fit: cover;
    } 

    .swiper-pagination {
        width: 232px;
        position: relative;
    }

    .swiper-pagination::after {
        content: "";
        width: 80px;
        height: 1px;
        background-color: #6c757d;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

    .swiper-prev:hover {
        background-color: #6c757d;
    }

    .swiper-button-disabled {
        color: #dee2e6;
        border-color: #dee2e6 !important;
    }

    .swiper-button-disabled:hover {
        cursor: default;
        background-color: initial !important;
    }

    .swiper-next:hover {
        background-color: #6c757d;
        color: #DEE2E6;
    }

    .only-staff {
        background: #e8e3da;
    }
}
