/******* start of slider *******/
.slider {

	.container {
		padding-left: 0; // 清空左邊距離
		padding-right: 0; // 清空右邊距離
	}

	.slider-inner {

		position: relative;
		width: auto;
		height: 551px;

		img {
			max-width: auto;
			height: 551px;
			object-fit: cover;
		}
	}

	.slider-text {
		position: absolute;
		width: 100%;
		height: auto;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		margin-bottom: 48px;
		/*
    說明：
    水平靠下：使用 bottom: 0; 將內層 div 對齊到外層 div 的底部。
    垂直置中：使用 left: 50%; 和 transform: translateX(-50%); 使內層 div 水平置中。
    */
	}

	// min-width: 576px
	@include media-breakpoint-up(sm) {}

	// min-width: 768px
	@include media-breakpoint-up(md) {
		.container {
			padding-left: 12px; // 左邊距離
			padding-right: 12px; // 右邊距離
		}
	}

	// min-width: 992px
	@include media-breakpoint-up(lg) {


		.slider-inner {
			// padding-top: 80px;
			// padding-bottom: 80px;

			position: relative;
			width: auto;
			height: 621px;

			img {
				width: auto;
				height: 621px;
				object-fit: cover;
			}
		}

		.slider-text {
			position: absolute;
			width: 100%;
			height: auto;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			text-align: left;
			padding-left: 60px;
			/*
      靠左垂直置中：
      內層 div 使用 top: 50%; 和 transform: translateY(-50%); 
      來實現垂直置中，並使用 left: 0; 靠左對齊。
      */
		}
	}
}
/******* end of slider *******/


/******* start of hot-topic *******/
.hot-topic {

	.hot-topic-inner {}

	.card {
		// height: 200px;
		// background-size: cover;

		// bootstrap 樣式清空
		border-radius: 0 !important;
		border-width: 0 !important;

		img {
			border-radius: 20px 0 20px 0 !important;
		}
	}

	.card::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(33, 37, 41, 0.4);
		opacity: 0;
		transition: opacity 0.3s;
		border-radius: 20px 0 20px 0 !important;
		border-width: 0 !important;
	}

	.card:hover::after {
		opacity: 1;
		cursor: pointer;
	}
}
/******* end of hot-topic *******/


/******* start of event *******/
.event {
	background-color: $primary-200;

	.event-inner {

		h3 {
			color: $accent-200;
		}

		.list {
			width: 254px;
		}
	}

	// min-width: 576px
	@include media-breakpoint-up(sm) {}

	// min-width: 768px
	@include media-breakpoint-up(md) {}

	// min-width: 992px
	@include media-breakpoint-up(lg) {
		.event-inner {

			h3 {
				color: $primary-400;
			}
		}
	}

}

/******* end of event *******/


/******* start of contact-me *******/
.contactme {
	.contactme-inner {}

	// min-width: 576px
	@include media-breakpoint-up(sm) {}

	// min-width: 768px
	@include media-breakpoint-up(md) {}

	// min-width: 992px
	@include media-breakpoint-up(lg) {}
}

/******* end of contact-me *******/

/******* start of hot-articles *******/
.hot-articles {
	.hot-articles-inner {}

	// min-width: 576px
	@include media-breakpoint-up(sm) {}

	// min-width: 768px
	@include media-breakpoint-up(md) {}

	// min-width: 992px
	@include media-breakpoint-up(lg) {}
}
/******* end of hot-articles *******/


/******* start of hot-articles *******/
.hots {
	.hots-inner {}

	// min-width: 576px
	@include media-breakpoint-up(sm) {}

	// min-width: 768px
	@include media-breakpoint-up(md) {}

	// min-width: 992px
	@include media-breakpoint-up(lg) {}
}
/******* end of hot-articles *******/


/******* start of projects *******/
.projects {
	.projects-inner {}

	.info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		margin-bottom: 48px;

		// d-flex flex-column justify-content-center text-center text-lg-start mb-9 mb-lg-0
	}


	.gradient-overlay {
		position: relative;
	}
	.cover {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 48px;
		// background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
		background: linear-gradient(359.16deg, #212529 0.73%, rgba(33, 37, 41, 0.05) 99.27%);

	}


	// min-width: 576px
	@include media-breakpoint-up(sm) {}

	// min-width: 768px
	@include media-breakpoint-up(md) {}

	// min-width: 992px
	@include media-breakpoint-up(lg) {
		.info {
			padding-top: 210.5px;
			padding-bottom: 210.5px;

			text-align: left;
			margin-bottom: 0;
		}
	}
}
/******* end of projects *******/


/******* start of projects *******/
.hot-now {
	.hot-now-inner {}

	// min-width: 576px
	@include media-breakpoint-up(sm) {}

	// min-width: 768px
	@include media-breakpoint-up(md) {}

	// min-width: 992px
	@include media-breakpoint-up(lg) {
		.sidebar-nav {
			display: flex !important;
			flex-direction: column !important;
			list-style: circle !important;
		}

		.sidebar-item {
			width: 100% !important;
			margin-top: 12px !important;
			margin-bottom: 12px !important;
		}



		/** 選單的最左邊及最右邊距離歸零 **/
		.sidebar-item:first-child {
			margin-top: 0 !important;
		}

		.sidebar-item:last-child {
			margin-bottom: 0 !important;
		}

		.sidebar-link {
			position: relative; /* 确保伪元素的位置基于 li */
			display: block !important;
			color: $gray-500 !important;
			font-size: 20px !important;
			font-weight: 900 !important;
			padding: 16px !important;
		}

		.sidebar-link:hover {
			color: $gray-500 !important;
			background-color: $accent-100 !important;
		}

		.sidebar-link:active,
		.sidebar-link.active {
			color: $gray-500 !important;
			background-color: $accent-100 !important;
		}
	}
}
