<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>付款成功 | 內容訂閱網站</title>

	</head>
	<body>
		<%- include('./layout/nav'); -%>

		<div class="pay">
			<div class="container pay-inner py-10 py-lg-11">
				<h2 class="text-accent-200 fs-3 fs-lg-1 text-center mb-6 mb-lg-8">
					<i class="bi bi-check2-circle me-3 me-lg-5"></i>付款成功</h2>
				<div class="row">
					<div class="col-lg-6 mx-auto">
						<div class="bg-white border border-1 border-primary-300 rounded-4 p-6 p-lg-8 mb-6">
							<h4 class="fs-5 fs-lg-4 mb-6">訂購資訊</h4>

							<div class="border-top border-bottom mb-6 mb-lg-8 py-6">
								<div class="mb-6 mb-lg-8">
									<div class="d-flex justify-content-between mb-2 mb-lg-3">
										<h5 class="fw-bold">輕量型方案</h5>
										<span class="text-newsreader fw-bold">NT 1,188</span>
									</div>
									<span class="text-gray-400 fw-bold">年繳</span>
								</div>

								<div>
									<div class="d-flex justify-content-between align-items-center mb-3">
										<h6 class="text-gray-400 fw-bold">開始日</h6>
										<spam class="text-newsreader fw-bold text-gray-400">2024 / 5 / 1</spam>
									</div>
									<div class="d-flex justify-content-between align-items-center">
										<h6 class="text-gray-400 fw-bold">終止日</h6>
										<spam class="text-newsreader fw-bold text-gray-400">2025 / 5 / 1</spam>
									</div>
								</div>
							</div>

							<div class="d-grid">
								<a href="article01.html" class="btn btn-custom-green btn-sm">
									瀏覽文章
									<span class="material-symbols-outlined">arrow_right_alt</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<%- include('./layout/footer'); -%>

		<script type="module" src="../main.js"></script>
	</body>
</html>
